.inputCommon {
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #e6dddd;
  outline: none;
  background-color: #eeeeee;
}

.inputCommon::placeholder {
  color: #bdb5b5;
}

.inputCommon:focus {
  border-color: #fff;
}
