@import "@styles/_variables.scss";
.auth__container {
  background: #1c92d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2fcfe,
    #1c92d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth__wrapper {
    width: 700px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    .auth__panelLeft {
      flex: 1;
      color: white;
      background-color: $color-primary;
      border-radius: 12px 70px 70px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.7s ease-in-out;

      z-index: 1;
      .auth__content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .auth__panelRight {
      flex: 1;
      padding: 20px;
      transition: all 0.7s ease-in-out;

      .auth__formTitle {
        text-align: center;
        margin-bottom: 20px;
      }
      .auth__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        .auth__forgot {
          text-decoration: none;
          color: black;
          text-align: center;
        }
      }
      .auth__suggest {
        text-align: center;
        margin-top: 15px;
      }
      .auth__socials {
        display: flex;
        justify-content: center;
        gap: 12px;
        .auth__socialLinks {
          padding: 8px 13px;
          border: 1px solid #555;
          border-radius: 8px;
          cursor: pointer;
        }
      }
    }
    &.signupActive {
      .auth__panelLeft {
        border-radius: 70px 12px 12px 70px;
        transform: translateX(113%);
      }
      .auth__panelRight {
        transform: translate(-88%);
      }
    }
  }
}
