//Đây là file tùy biến màu sắc fontsize... tái sử dụng
// -----------------------------
// Font sizes
// -----------------------------
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// Mobile font sizes
$font-size-xs-mobile: 10px;
$font-size-sm-mobile: 12px;
$font-size-md-mobile: 14px;
$font-size-lg-mobile: 16px;
$font-size-xl-mobile: 18px;
$font-size-xxl-mobile: 20px;

// -----------------------------
// Font weights
// -----------------------------
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Mobile font weights
$font-weight-light-mobile: 300;
$font-weight-normal-mobile: 400;
$font-weight-medium-mobile: 500;
$font-weight-semibold-mobile: 600;
$font-weight-bold-mobile: 700;
